{% load humanize i18n %}

{% if survey_list %}
{% for obj in survey_list %}

<div class="box2">
    <div class="box2_header">
        {% translate 'Survey' %}
    </div>
    <div class="box2_content">
        <div class="survey_box">
            <strong>{{ obj.survey.description|safe }}</strong>
            {% if obj.survey.is_open_for_voting and obj.user_can_vote %}
                <form action="{% url 'article_survey_vote' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="pk" value="{{ obj.survey.pk }}">
                    {% for o in obj.survey.options %}
                    <p class="survey-option">
                        <span class="survey-option__row">
                            <input id="vote-{{ obj.survey.pk }}-{{ forloop.counter }}" type="radio" name="i_{{ obj.survey.pk }}" value="{{ o.pk }}">
                            <label id="vote-label-{{ obj.survey.pk }}-{{ forloop.counter }}" for="vote-{{ obj.survey.pk }}-{{ forloop.counter }}">{{ o.description }}</label>
                            <em>{{ o.pct|floatformat:1 }}%</em>
                        </span>
                        <span class="survey-bar"><span class="survey-bar__fill{% if o.is_winning %} survey-bar__fill--winning{% endif %}" style="width: {{ o.pct|floatformat:0 }}%"></span></span>
                    </p>
                    {% endfor %}

                    <p>
                        <input type="submit" id="survey-submit" value="{% translate 'Vote' %}" />
                    </p>
                </form>
            {% else %}
                {% for o in obj.survey.options %}
                <p class="survey-option">
                    <span class="survey-option__row">
                        {{ o.description }} <em>{{ o.pct|floatformat:1 }}%</em>
                    </span>
                    <span class="survey-bar"><span class="survey-bar__fill{% if o.is_winning %} survey-bar__fill--winning{% endif %}" style="width: {{ o.pct|floatformat:0 }}%"></span></span>
                </p>
                {% endfor %}
            {% endif %}
            <p>{% translate 'Number of votes' %}: {{ obj.survey.answers.count }}</p>
        </div>
    </div>
  </div>

{% endfor %}
{% endif %}
