{% load article_filters i18n %}

<header class="app-header">
    <div class="app-header__inner">
        <button class="menu-toggle" aria-label="Menu">
            <span class="menu-toggle__bar"></span>
            <span class="menu-toggle__bar"></span>
            <span class="menu-toggle__bar"></span>
        </button>
        <div class="app-header__logo">
            {% if company_picture %}
            <a href="/" title="{% translate 'Go to homepage' %}">
                <img id="logo" alt="logo" src="/media/{{ company_picture }}" />
            </a>
            {% endif %}
            <span class="app-header__logo-text">{{ company_name|default:"SVJIS2" }}</span>
        </div>
        <div class="app-header__spacer"></div>
        {% if request.user.is_authenticated %}
        <details class="user-menu">
            <summary class="user-menu__trigger">
                <span class="user-badge__avatar">{{ request.user.first_name|first }}{{ request.user.last_name|first }}</span>
                <span>{{ request.user.first_name }}&nbsp;{{ request.user.last_name }}</span>
            </summary>
            <div class="user-menu__panel">
                {% if perms.articles.svjis_view_admin_menu %}
                <a class="user-menu__item" href="{% url 'admin_company_edit' %}">{% translate 'Administration' %}</a>
                {% endif %}
                <form action="{% url 'user_logout' %}" method="post">
                    {% csrf_token %}
                    <button class="user-menu__item user-menu__item--button" type="submit">{% translate 'Logout' %}</button>
                </form>
            </div>
        </details>
        {% else %}
        <a class="user-menu__login" href="{% url 'login_page' %}">{% translate 'Login' %}</a>
        {% endif %}
    </div>
</header>
