{% extends "base.html" %}

{% load i18n %}

{% block sitecontent %}
<div class="login-page">
    <div class="login-card">
        <div class="login-card__header">
            <h1>{% translate 'Sign in to your account' %}</h1>
        </div>
        <div class="login-card__body">
            <form action="{% url 'user_login' %}" method="post">
                <fieldset>
                    <legend>{% translate 'Please sign-in' %}</legend>

                    {% csrf_token %}
                    {% if next_page %}
                    <input type="hidden" name="next_page" value="{{ next_page }}" />
                    {% endif %}

                    <p>
                        <label class="common-label" for="username-input">{% translate 'Username' %}</label>
                        <input class="common-input" id="username-input" type="text" name="username" autocomplete="username" />
                    </p>
                    <p>
                        <label class="common-label" for="pwd-input">{% translate 'Password' %}</label>
                        <input class="common-input" id="pwd-input" type="password" name="password" autocomplete="current-password" />
                    </p>
                    <p>
                        <input class="black-submit" id="sign-in" type="submit" value="{% translate 'Sign in' %}" />
                    </p>
                    <p style="text-align: center;">
                        <a href="{% url 'lost_password' %}">{% translate 'Lost password' %}</a>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock sitecontent %}
